{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kxid.me</title>
    <style>
        * {
            box-sizing: border-box;
        }
        html, body {
            margin: 0;
            padding: 0;
            overflow: auto;
        }
        body {
            font-family: sans-serif;
            overflow-wrap: break-word;
        }
        body > * {
            padding: 0 12px;
        }
        header {
            background-color: #6b1c23;
            color: #fff;
        }
        footer {
            margin-top: 64px;
            margin-bottom: 32px;
        }
        footer .container {
            border-top: solid 1px #6b1c23;
        }
        .container {
            width: 100%;
            max-width: 720px;
            margin: 0 auto;
            overflow: auto;
        }
        h1, h2 {
            cursor: default;
        }
        h2 {
            color: #6b1c23;
        }
        a {
            color: hsl(190, 80%, 30%);
        }
        p {
            font-size: 1rem;
        }
        .subtle {
            font-size: 0.9rem;
            color: #777;
        }
        .feather {
            width: 14px;
            vertical-align: bottom;
        }
        .spec {
            padding: 0 1em;
            background-color: #eee;
            border: solid 2px #ccc;
            font-family: monospace;
            font-size: 0.9rem;
        }
        .spec h1, .spec h2, .spec h3 {
            font-size: 1em;
            color: #000;
            cursor: text;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .spec p {
            font-size: 1em;
            margin-top: 1em;
            margin-left: 3ch;
            margin-bottom: 1em;
        }
        .spec ul, .spec ol {
            font-size: 1em;
            margin-left: 6ch;
            padding-left: 3ch;
        }
        .spec ul ul, .spec ol ol {
            margin-left: 0;
        }
        .spec ul {
            list-style: circle;
        }
        .spec li p {
            margin: 0;
        }
    </style>
</head>
<body>
    
    <header>
        <div class="container">
            <h1>{% block title %}{% endblock title %}</h1>
        </div>
    </header>
    
    <main>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </main>

    <footer class="subtle">
        <div class="container">
            <p>
                A <a href="https://keyoxide.org">Keyoxide</a> project
                <br>
                @ {{ now() | date(format="%Y") }} Yarmo Mackenbach
                <br>
                Made with FOSS, {{ macros::heart() }} and {{ macros::coffee() }} (<a href="https://ko-fi.com/yarmo">buy me one</a>)
                <br>
                <a href="https://codeberg.org/keyoxide/kxid-me">Source code</a>
                -
                Icons: <a href="https://feathericons.com">Feather</a>
            </p>
        </div>
    </footer>

</body>
</html>