{% extends "base.html" %}

{% block title %}kxid.me{% endblock title %}

{% block content %}

<h2>{{ status_code }} {{ error }}</h2>
<p>Something went wrong while finding what you were looking for.</p>

<h2>What is kxid.me?</h2>
<p>All the information can be found on the <a href="/">homepage</a>.</p>

{% endblock content %}