{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}kxid.me{% endblock title %}

{% block content %}

<h2>What is kxid.me?</h2>
<p>kxid.me is a URL shortener created specifically for <a href="https://keyoxide.org">Keyoxide</a> profiles.</a></p>

<h2>Example</h2>
<p>The maintainer's profile is located at <a href="https://keyoxide.org/9f0048ac0b23301e1f77e994909f6bd6f80f485d">https://keyoxide.org/9f0048ac0b23301e1f77e994909f6bd6f80f485d</a>. Quite cumbersome to write!</p> 
<p>Instead of using that, he could just use <a href="/yarmo">https://kxid.me/yarmo</a> which simply brings you to the same profile page.</p>

<h2>Respecting privacy</h2>
<p>Projects like kxid.me that touch online identity need to be very mindful of the user's privacy and not leak sensitive information.</p>
<p>Ideas so far: making discovery opt-in (or not at all), rate limiting to counter scraping. By default, aliases and their linked keys are not publicly shared.</p>
<p>Feel free to share ideas on improving kxid.me:</p>
<ul>
    <li><a href="https://community.keyoxide.org">Keyoxide community forum</a></li>
    <li>Matrix: <a href="https://matrix.to/#/#keyoxide:matrix.org">#keyoxide:matrix.org</a></li>
    <li>IRC: <strong>#keyoxide</strong> on <a href="https://libera.chat">libera.chat</a></li>
</ul>

<h2>Project status</h2>
<p>kxid.me is currently in a <strong>Proof of Concept</strong> phase. This means anything about it can still drastically change. If you are invited to try it out, use at your own risk.</p>

<h2>Roadmap</h2>
<p>
    {{ macros::square() }} Move data from file to database
    <br>
    {{ macros::square() }} Add rate limiting
    <br>
    {{ macros::square() }} Add automated URL creation <span class="subtle">(needs investigation/feedback)</span>
    <br>
    {{ macros::square() }} Use kxid.me URLs as proof <span class="subtle">(needs investigation/feedback)</span>
    <br>
    {{ macros::square() }} Opt-in public index <span class="subtle">(needs investigation/feedback)</span>
</p>

<h2>How to get your own shortened URL?</h2>
<p>In this early development phase, everything is done manually and not all requests to join will be accepted. If you'd like to request to join, contact the maintainer directly:</p>
<ul>
    <li>Email: <a href="mailto:yarmo@keyoxide.org">yarmo@keyoxide.org</a></li>
    <li><a href="https://matrix.to/#/@yarmo:mackenba.ch">Matrix</a></li>
</ul>
<p>Again, do realize that currently everything is subject to change, use at your own risk.</p>

<h2>Ariadne Alias Protocol</h2>

<p>Note: while waiting for the impending restructuring of the Ariadne Identity specification, this protocol will be hosted in the <a href="https://codeberg.org/keyoxide/kxid-me/src/branch/main/protocols">kxid-me repository</a>.</p>

<div class="spec">
    {{ ariadne_alias_protocol | safe }}
</div>

{% endblock content %}